body {
    background-color: rgb(221, 210, 189);
    background: url("../images/background2.png") repeat;
    background-size: 5px 5px;
    font-family: Helvetica, sans-serif;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

li {
    display: list-item;
}

div.container {
    display: grid;
    width: 100%;
    margin: auto;
}

div.helloHeader {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1, 1fr);
}

div.helloDiv {
    /* margin: 10%; */
    padding: 15%;
    display: none;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
}

div.repoContainer {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(1, 1fr);
}

p.repoName {
    font-weight: 600;
    margin: .4rem 0;
}

div.repoDiv {
    margin: 5%;
}

footer.pageFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .2rem 0;
    font-style: italic;
    text-align: center;
    background: #4e2e28;
}

footer p {
    color: #dfdfdf;
    font-size: .6rem;
}

@media screen and (min-width: 1900px) {
    div.container {
        width: 60%;
    }

    div.helloHeader {
        grid-template-columns: repeat(4, 1fr);
    }

    div.repoContainer {
        grid-template-columns: repeat(4, 1fr);
    }

    div.helloDiv {
        display: inherit;
    }
}

@media screen and (min-width: 1366px) {

    div.helloHeader {
        grid-template-columns: repeat(4, 1fr);
    }

    div.repoContainer {
        grid-template-columns: repeat(4, 1fr);
    }

    div.helloDiv {
        display: inherit;
    }
}

@media screen and (min-width: 1024px) {

    div.helloHeader {
        grid-template-columns: repeat(4, 1fr);
    }

    div.repoContainer {
        grid-template-columns: repeat(4, 1fr);
    }

    div.helloDiv {
        display: inherit;
    }
}